<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<app-nav-bar [onHomepage] = "true"></app-nav-bar>

<body>
    <div id="hero"> 
        <!-- <input class="input has-icons-right" id="heroSearch" placeholder="Search Recipies"> -->
    
        <p class="control has-icons-left">
            <input class="input has-icons-left is-light" id="heroSearch" [(ngModel)] ="sendquery" (keyup.enter)="goToViewRecipies(null)" placeholder="Search Recipies">
            <span class="icon is-left">
                <i class="fas fa-search fa-2x" id="searchicon"></i>
            </span>
          </p>
    </div>

<div class="section animate__animated animate__fadeIn animate__slower" id="secondSection" >
    <h1 id="LoveText">Featured Recipies</h1>
    <app-recipe-carousel id="recipecar"></app-recipe-carousel>
</div >
<div id="links">
    <h2>Quick Links</h2>
</div>
<div class="section" id="columnsContainer">
    <div class="columns is-desktop" id="textColumns">
        <div class="column" id="column1">
            <ul>
                <li [ngClass]="underline[i]" (mouseover)="mouseOverUnderline(i, 'columnOne')"  (mouseout)="mouseLeaveUnderline(i, 'columnOne')" *ngFor="let name of columnOne, index as i" (click)="goToViewRecipies(name)">
                    {{name}}
                </li>
            </ul>
        </div>
        <div class="column" id="column2">
            <ul>
                <li [ngClass]="underline2[i]" (mouseover)="mouseOverUnderline(i, 'columnTwo')"  (mouseout)="mouseLeaveUnderline(i, 'columnTwo')" *ngFor="let name of columnTwo, index as i" (click)="goToViewRecipies(name)">
                    {{name}}
                </li>
            </ul>
        </div>
        <div class = "column">
            <ul>
                <li [ngClass]="underline3[i]" (mouseover)="mouseOverUnderline(i, 'columnThree')"  (mouseout)="mouseLeaveUnderline(i, 'columnThree')" *ngFor="let name of columnThree, index as i" (click)="goToViewRecipies(name)">
                    {{name}}
                </li>
            </ul>
        </div>
    </div>
</div>
</body>


<footer id="foot">
    <div id="copyright">
        <p>&copy; 2020 Varun Balusu</p>
    </div>
</footer>