#carousel{
    width: auto;
    border: 0.5px solid transparent;
    
}
#search {
    width:700px; 
}

#foot {
   height: 50px;
   text-align: center;
}
#body {
    width: auto;
    height: auto;
    padding-top: 20px;      
}   
#secondSection{
    text-align: center;
}
#LoveText{
    font-weight: bold;
    font-size: 25px;
    font-family: Palatino;

}
#column1{
    border-right: 1px solid gray;
}
#column2{
    border-right: 1px solid gray;
}

#textColumns{
    padding-top: 12px;
    border-top: 1px solid gray;
    margin-left: 200px;
    margin-right: 200px;
}

#columnsContainer{
    background-color:rgb(245,245,245);
    padding-top: 12px;
}
.column-text{
    font-weight: 70px;
    font-family: Palatino;
}
.column-text-underline{
    font-weight: 70px;
    font-family: Palatino;
    text-decoration: underline;
    cursor: pointer;
}
#links{
    text-align: center;
    background-color:rgb(245,245,245);
    font-family: Palatino;
    font-weight: 60px;
    font-size: large;
    
}
#hero{
    background: url(../../assets/cheese.jpg) center/ cover;
    height: 400px;
    overflow: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight:bolder;
    font-size: 50px;
}
#heroSearch{
    width: 550px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}
#searchicon{
    height: 60px;
    padding-top: 15px;
    color: gray;
    font-size: 30px;
}