<div id="foodcontainer" class="container">
    <input id="foodsearch" class="input" type="text" placeholder="Seach Recipies">
</div>

<div class="section" id="section">

    <app-menu id="menu"></app-menu>
    
    <app-recipecard id="foodcard" [dishes]="dishes"></app-recipecard>
    
       
    
</div>

<style>
    #section{
        display: flex;
    }
    #foodcard{
    display: flex;
    flex-wrap: wrap;
    width: 80%;

     }
     #menu{
         width: 20%;
     }
     #foodsearch{
         width: 80%;
     }
     #foodcontainer{
         padding-left: 19%;
     }
</style>