#notif{
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}
#loadMore{
    margin: auto;
    display: block;
}
.section{
    padding-top: 0px;
}
#varun{
    padding-bottom: 25px;
    float: right;
}
#balusu{
    height: 60px;
    width: 62vw;
    /* margin-left: 20.5vw; */
    padding-top: 15px;
    overflow: auto;
}
#loading{
    padding-left: 34vw;
    width: 80%;
}
#cont{
    display: flex;
    padding-right: 40px;
    
}
#foodcard{
display: flex;
flex-wrap: wrap;
width: 80%;
z-index: 5;

 }
 #menu{
     width: 20%;
     z-index: 5;
 }
 #foodsearch{
     width: 80%;
 }
 #foodcontainer{
     padding-left: 19vw;
     position: relative;
 }