

<div class="card" id="cardborder" *ngFor="let dish of dishes, index as i">
    <div class="card-image" id="foodpic">
        <figure class="image">
            <div id="wrapper" class="wrapper">
                <img id="picture" *ngIf="fromProfilePage !== true" src="{{dish.recipe.image}}">
                <img id="picture" *ngIf="fromProfilePage === true" src="{{dish.image}}">
                <div id="myoverlay" class="overlay">
                    <!-- hearts and add and delete recipies functionality -->
                    <button id="saveRecipe"[hidden]="heart[i]==true"  (click)="addToCookbook(i,dish)" *ngIf="fromProfilePage !== true">
                        <i id="heart1" class="far fa-heart"></i>
                    </button>
                    <button id="saveRecipe1" [hidden]="heart[i]==false && fromProfilePage !== true" *ngIf="heart[i]==true" (click)="addToCookbook(i, dish)">
                        <i id="heart" class="fas fa-heart"></i>
                    </button>
                    <!-- trash icons and delete from saved recipies functionality -->
                    <button id="trash_recipe" *ngIf="fromProfilePage == true" (click)="deleteDish(i, dish)">
                        <i id="trash_icon" class="fa fa-times"></i>
                    </button>

                    <!-- labels -->
                    <div id="mycontent" *ngIf="fromProfilePage !== true" class="content" (click)='viewRecipe(i)'>
                        {{dish.recipe.label}}
                        <div>
                            <i id='navArrow' class="fas fa-arrow-right"></i>
                        </div>   
                    </div>
                    <div id="mycontent" *ngIf="fromProfilePage === true" class="content" (click)='viewRecipe(i)'>
                        {{dish.label}}
                        <div>
                            <i id='navArrow' class="fas fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </figure>
    </div>
    <!-- <div class="card-content">
        <div class="content">
            {{dish.recipe.label}}
        </div>
        <div class="content" *ngIf="dish.recipe.totalTime != 0">
            Cook Time: {{dish.recipe.totalTime}}
        </div>
        <div class="content" *ngIf="dish.recipe.totalTime == 0">
            Cook Time: Not Avaliable
        </div>
    </div>
</div> -->

<!-- <div class="card-content">
    <div class="content">
        {{dish.recipe.label}}
    </div>
    <div class="content" *ngIf="dish.recipe.totalTime != 0">
        Cook Time: {{dish.recipe.totalTime}}
    </div>
    <div class="content" *ngIf="dish.recipe.totalTime == 0">
        Cook Time: Not Avaliable
    </div>
</div> -->
