<app-nav-bar></app-nav-bar>

<body>
    <section id="beg">
         
            <b id="title">Your Cookbook</b>
            <hr id="line">
        
       
    </section>
    <div id="border">
        <app-menu id="menu" [profPage] = "true" (sendFilter) = "outputEventHandler($event)"></app-menu>
        <div *ngIf = "LoggedIn != false">
            <section id ="containment" *ngFor='let cuisine of allCuisines | keyvalue'>
                <p id='cuisineName'>{{cuisine.key}}</p>
                <app-recipecard id="foodcard" [dishes]="cuisine.value" (deletion)="checkEmpty($event)"[fromProfilePage]="true" class="animate__animated animate__slideInRight"></app-recipecard>
            </section>
        </div>
        <div *ngIf = "LoggedIn == false" id = "loginText">
            <span>
                You Must First Login to View Recipes
            </span>
        </div>
    </div>
    

</body>